<div class="portal-ecommerce-page-wrapper">
    <div class="search-div" style="margin-top: -15px">
        <button title="Agregar nuevo usuario" mat-raised-button color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>Agregar
      </button>
        <mat-form-field class="search-form-field" appearance="fill">
            <input matInput [(ngModel)]="searchKey" placeholder="Buscar Usuario" autocomplete="off" (keyup)="applyFilter($event.target.value)">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <br>

    <div class="mat-elevation-z8" style="margin-top: -40px">
        <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
                <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
            </ng-container>

            <ng-container matColumnDef="idCard">
                <th mat-header-cell *matHeaderCellDef> Cedula </th>
                <td mat-cell *matCellDef="let element"> {{element.idCard}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Correo </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="cellPhone">
                <th mat-header-cell *matHeaderCellDef> Telefono </th>
                <td mat-cell *matCellDef="let element"> {{element.cellPhone}} </td>
            </ng-container>

            <ng-container matColumnDef="speciality">
                <th mat-header-cell *matHeaderCellDef>Especialidad </th>
                <td mat-cell *matCellDef="let element"> {{element.speciality}} </td>
            </ng-container>

            <ng-container matColumnDef="userType">
                <th mat-header-cell *matHeaderCellDef> Tipo de usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.role.name}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Accion </th>
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell mat-header-cell *matCellDef="let row">

                    <!--alerta para deshabilitar-->
                    <swal #deleteSwal title="ClinicalSoft" text="¿está seguro que desea deshabilitar el Usuario {{row.fullName}}?" type="question" [showCancelButton]="true" [reverseButtons]="true" [focusCancel]="true" (confirm)="changeStatus(row.isActive,row.id)">
                    </swal>

                    <button title="Editar" mat-icon-button (click)="openDialog(row)"><mat-icon>launch</mat-icon></button>
                    <button title="Deshabilitar" mat-icon-button color="warn" [swal]="deleteSwal"><mat-icon>delete_outline</mat-icon></button>
                </mat-cell>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" [length]="100" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
</div>