<div class="portal-ecommerce-page-wrapper">
    <mat-card>
        <mat-toolbar>
            <span>Registrar Pago</span>
            <span class="fill-remaining-space"></span>
        </mat-toolbar>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
            <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
                <mat-select placeholder="Paciente">
                    <mat-option value="Casado">Francisco contreras</mat-option>
                    <mat-option value="Union libre">York Celestino</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
            <mat-divider fxFlex="50"></mat-divider>
        </div>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
            <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
                <mat-select placeholder="Recibido por el medico">
                    <mat-option value="Casado">Jhon Will Celestino</mat-option>
                    <mat-option value="Union libre">Esmeraily Acosta</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
            <mat-divider fxFlex="50"></mat-divider>
        </div>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
            <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
                <mat-select placeholder="Selecionar">
                    <mat-option value="Casado">Embarazo</mat-option>
                    <mat-option value="Union libre">Neobulizador</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
                <mat-select placeholder="Selecionar">
                    <mat-option value="Casado">Embarazo</mat-option>
                    <mat-option value="Union libre">Neobulizador</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
</div>