<mat-toolbar>
    <span> <span *ngIf="!data.id">Registrar</span><span *ngIf="data.id">Editar</span> paciente</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="closeDialog()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
    <h4 style="color: #dd1010">Este formulario contiene campo requerido*</h4>
</div>
<mat-horizontal-stepper [linear]="true" #stepper>
    <!--Primer paso del formulario-->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="form">
            <ng-template matStepLabel>Paso 1</ng-template>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
                <input type="hidden" formControlName="id">
                <mat-form-field fxFlex="50">
                    <input formControlName="name" matInput placeholder="Nombre*">
                    <mat-error>Nombre requerido.</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <input formControlName="surname" matInput placeholder="Apellido*">
                    <mat-error>Apellido requerido.</mat-error>
                </mat-form-field>

            </div>

            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">

                <mat-form-field fxFlex="50%">
                    <input formControlName="idCard" matInput placeholder="Cedula" mask="000-0000000-0">

                </mat-form-field>

                <mat-form-field fxFlex="50%">
                    <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="birthdate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>

            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">

                <!--form-field fxFlex="50%">
                    <input formControlName="cellPhone" matInput placeholder="Telefono*">
                    <mat-error>Apellido requerido.</mat-error>
                </mat-form-field-->
                <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
                    <mat-select placeholder="Genero" formControlName="gender">
                        <mat-option value="Femenino">Femenino</mat-option>
                        <mat-option value="Masculino">Masculino</mat-option>

                    </mat-select>
                </mat-form-field>


                <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
                    <mat-select placeholder="Estado civil" formControlName="civilStatus">
                        <mat-option value="Casado">Casado</mat-option>
                        <mat-option value="Union libre">Union libre</mat-option>
                        <mat-option value="Soltero">Soltero</mat-option>
                        <mat-option value="Viudo">Viudo</mat-option>
                        <mat-option value="Menor de edad">Menor de edad</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div align="end">
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>

    <!--Segundo paso del formulado-->
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="form">
            <ng-template matStepLabel>Paso 2</ng-template>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
                <label id="example-radio-group-label"> Tiene acta de nacimiento? </label>
                <mat-radio-group ria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="actCondition" formControlName="actData">
                    <mat-radio-button color="primary" class="example-radio-button" [value]="true">
                        Si
                    </mat-radio-button>
                    <mat-radio-button color="primary" class="example-radio-button" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="actCondition">
                <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">

                    <mat-form-field fxFlex="50%">
                        <input formControlName="districtMunicipality" matInput placeholder="Municipio distrito">
                    </mat-form-field>

                    <mat-form-field fxFlex="50%">
                        <input formControlName="numberOfOfficial" matInput placeholder="Numero de oficiali">

                    </mat-form-field>

                </div>

                <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">

                    <mat-form-field fxFlex="50%">
                        <input formControlName="bookNumber" matInput placeholder="Número de libro">
                    </mat-form-field>

                    <mat-form-field fxFlex="50%">
                        <input formControlName="folioNumber" matInput placeholder="Número de folio">

                    </mat-form-field>

                </div>

                <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">

                    <mat-form-field fxFlex="50%">
                        <input formControlName="actNumber" matInput placeholder="Número de acta">
                    </mat-form-field>

                    <mat-form-field fxFlex="50%">
                        <input formControlName="yearBook" matInput placeholder="Año libro">
                    </mat-form-field>

                </div>


            </div>
            <div align="end">
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>
        </form>
    </mat-step>


    <!--Tercer paso del formulario-->
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="form">
            <ng-template matStepLabel>Paso 3</ng-template>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">

                <mat-form-field fxFlex="50%">
                    <input formControlName="email" matInput placeholder="Correo*" mask="A*@A*.SSS">
                    <mat-error>Correo requerido.</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50%">
                    <input formControlName="cellPhone" mask="000-000-0000" matInput placeholder="Telefono*">
                    <mat-error>Apellido requerido.</mat-error>
                </mat-form-field>

            </div>

            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">

                <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
                    <mat-select placeholder="Escolaridad (Último curso):" formControlName="scholarship">
                        <mat-option value="No sabe leer ni escribir">No sabe leer ni escribir</mat-option>
                        <mat-option value="Primaria incompleta">Primaria incompleta</mat-option>
                        <mat-option value="Intermedia Basica">Intermedia Basica"</mat-option>
                        <mat-option value="Bachillerato">Bachillerato</mat-option>
                        <mat-option value="Técnico">Técnico</mat-option>
                        <mat-option value="Universitario">Universitario</mat-option>
                        <mat-option value="Profesional">Profesional</mat-option>
                    </mat-select>
                </mat-form-field>

                <!--mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
                    <mat-select placeholder="Asite?" formControlName="attend">
                        <mat-option value="Si">Si</mat-option>
                        <mat-option value="No">No</mat-option>
                    </mat-select>
                </mat-form-field-->

            </div>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
                <label id="example-radio-group-label"> trabaja </label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="workCondition" formControlName="work">
                    <mat-radio-button color="primary" class="example-radio-button" [value]="true">
                        Si
                    </mat-radio-button>
                    <mat-radio-button color="primary" class="example-radio-button" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" *ngIf="workCondition">
                <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
                    <mat-select placeholder="Trabaja?" formControlName="workType">
                        <mat-option value="Fijo">Fijo</mat-option>
                        <mat-option value="Temporar">Temporar</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="50%">
                    <input formControlName="whereWork" matInput placeholder="Dónde trabaja (Nombre de la Empresa o Negocio)">
                </mat-form-field>

            </div>
            <div align="end">
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>

            </div>
        </form>
    </mat-step>
    <!--Tercer paso del formulario-->
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="form">
            <ng-template matStepLabel>Paso 4</ng-template>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
                <label id="example-radio-group-label">Esta afiliado a SDSS</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="afiliadoCondition" formControlName="sdss">
                    <mat-radio-button color="primary" class="example-radio-button" [value]="true">
                        Si
                    </mat-radio-button>
                    <mat-radio-button color="primary" class="example-radio-button" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" *ngIf="afiliadoCondition">

                <mat-form-field fxFlex="50%">
                    <input formControlName="ars" matInput placeholder="ARS">
                </mat-form-field>

                <mat-form-field fxFlex="50%">
                    <input formControlName="regime" matInput placeholder="Regimen">
                </mat-form-field>

                <mat-form-field fxFlex="50%">
                    <input formControlName="socialSecurityNumber" matInput placeholder="Número de seguridad Social">
                </mat-form-field>

            </div>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
                <mat-form-field class="example-full-width" fxFlex="100">
                    <input type="text" placeholder="Factores de riesgo(Enfermedades Discacidad)*" aria-label="Number" matInput [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>

            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">

                <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
                    <mat-select placeholder="Ingreso" formControlName="admissionDate">
                        <mat-option value="Nació">Nació</mat-option>
                        <mat-option value="Llegó">Llegó</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
                    <mat-select placeholder="Engreso" formControlName="egressDate">
                        <mat-option value="Salió">Salió</mat-option>
                        <mat-option value="Murió">Murió</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="container" fxLayout="row" fxLayout.xs="column" fxLaoutWrap fxLayoutGap="3%">

                
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="isTheBossCondition" formControlName="isTheBoss" fxFlex="50">
                    <label id="example-radio-group-label">Es usted jefe de familia?</label>
                    <mat-radio-button color="primary" class="example-radio-button" [value]="true">
                        Si
                    </mat-radio-button>
                    <mat-radio-button color="primary" class="example-radio-button" [value]="false" [checked]>
                        No
                    </mat-radio-button>
                </mat-radio-group>

                
                <div *ngIf="!isTheBossCondition" fxFlex="50">
                   
                    <app-autocomplete  placeholder="Ingrese la cédula del jefe de familia" [options]="patientsFilterOptions" (valueChange)="onValueChange($event)"></app-autocomplete>
                </div>

                <swal #editSwal title="ClinicalSoft" text="¿está seguro que desea Actualizar el Usuario {{form.value.name}}?" type="question" [showCancelButton]="true" [reverseButtons]="true" [focusCancel]="true" (confirm)="addPatient(form.value)">
                </swal>


            </div>
           
            <mat-dialog-actions align="end">
                <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
                    <button mat-button matStepperPrevious>Atras</button >
                    <div *ngIf="!data.id">

                        <button mat-raised-button color="primary" (click)="addPatient(form.value)" type="button">Guardar</button>
                    </div>
                    <div *ngIf="data.id" >
                        <button mat-raised-button color="primary" type="button" [swal]="editSwal">Actualizar</button>
                    </div>
                </div>
            </mat-dialog-actions>
        </form>
    </mat-step>
</mat-horizontal-stepper>




<!--mat-step>
    <ng-template matStepLabel>Paso 3</ng-template>
      You are now done.
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
</mat-step-->