<mat-toolbar>
  <span>Registrar Usuario</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="closeDialog()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <!--Primer paso del formulario-->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="form">
        <ng-template matStepLabel>Paso1</ng-template>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
  
          <mat-form-field fxFlex="50">
            <input formControlName="name"  matInput placeholder="Nombre*">
            <mat-error>Nombre requerido.</mat-error>
          </mat-form-field>
  
          <mat-form-field fxFlex="50">
              <input formControlName="surname" matInput placeholder="Apellido*">
              <mat-error>Apellido requerido.</mat-error>
          </mat-form-field>
  
        </div>
  
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
  
            <mat-form-field fxFlex="50%">
              <input formControlName="idCard"  matInput placeholder="Cedula*">
              <mat-error>Apellido requerido.</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50%">
                <input formControlName="email" matInput placeholder="Correo*">
                <mat-error>Correo requerido.</mat-error>
            </mat-form-field>
    
          </div>
  
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
  
              <mat-form-field fxFlex="50%">
                <input formControlName="cellPhone"  matInput placeholder="Telefono*">
                <mat-error>Apellido requerido.</mat-error>
              </mat-form-field>
      
              
              <div class="add-bottom-padding" fxFlex="50%">
                  <span>Estado civil*</span>
                  <br>
                  <mat-radio-group formControlName="civilStatus">
                      <mat-radio-button value="Casado">Casado</mat-radio-button>
                      <mat-radio-button value="Soltero">Soltero</mat-radio-button>
                  </mat-radio-group>
              </div>
      
            </div>
  
        <div align="end">
          <button  mat-raised-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <!--Segundo paso del formulado-->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="form">
        <ng-template matStepLabel>Paso 2</ng-template>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
          
            <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
                <mat-select placeholder="Genero"  formControlName="gender">
                    <mat-option value="Femenino">Femenino</mat-option>
                    <mat-option value="Masculino">Masculino</mat-option>
                    
                </mat-select>
              </mat-form-field>
      
          <mat-form-field fxFlex="50%">
              <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="birthdate" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">

          <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
            <mat-select placeholder="Estudia?" formControlName="scholarship" >
                <mat-option value="Si">Si</mat-option>
                <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
              <mat-select placeholder="Asite?" formControlName="attend">
                  <mat-option value="Si">Si</mat-option>
                  <mat-option value="No">No</mat-option>
              </mat-select>
            </mat-form-field>

        </div>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
          <mat-form-field class="portal-select-preview-example-field" fxFlex="50%">
            <mat-select placeholder="Trabaja?" formControlName="work">
              <mat-option value="Si">Si</mat-option>
              <mat-option value="No">No</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="50%">
            <input formControlName="socialSecurityNumber" matInput placeholder="Numero de seguro social">
          </mat-form-field>
    
        </div>
        <div align="end">
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-raised-button color="primary" (click)="onClick()" type="submit">Guardar</button>
        </div>
      </form>
    </mat-step>

    <!--mat-step>
      <ng-template matStepLabel>Paso 3</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
      </mat-step-->
  </mat-horizontal-stepper>