<div fxLayout="column" fxFlexFill>
    <mat-toolbar class="portal-side-menu-top-toolbar">
        <mat-toolbar-row fxLayout="row">
            <img class="portal-toolbar-brand" src="assets/images/oxygenna.png" alt="Portal">
            <span class="portal-toolbar-brand-text" i18n>ClinicalSoft</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="portal-sidnav-menu portal-hide-scrollbars" fxFlex="nogrow noshrink">

        <!-- home & dashboard menu -->
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboards/home" routerLinkActive="portal-menu--active">
                <mat-icon matListIcon>home</mat-icon>
                <h3 matLine>Inicio</h3>
            </a>

        </mat-nav-list>
        <mat-expansion-panel>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>reorder</mat-icon>
                    <h3>Tabla de datos<span class="dashicons dashicons-buddicons-topics"></span></h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink='/apps/usuarios' routerLinkActive="portal-menu--active">
                    <mat-icon matListIcon>perm_identity</mat-icon>
                    <h3 matLine>usuarios</h3>
                </a>
                <a mat-list-item routerLink='/apps/pacientes' routerLinkActive="portal-menu--active">
                    <mat-icon matListIcon>people</mat-icon>
                    <h3 matLine>Pacientes</h3>
                </a>

                <a mat-list-item routerLink="/apps/calendar" routerLinkActive="portal-menu--active">
                    <mat-icon matListIcon>date_range</mat-icon>
                    <h3 matLine>Calendar</h3>
                </a>

            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>event</mat-icon>
                    <h3>Cita <span class="dashicons dashicons-buddicons-topics"></span></h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink='/apps/cita' routerLinkActive="portal-menu--active">
                    <mat-icon matListIcon>list_alt</mat-icon>
                    <h3 matLine>Lista de cita</h3>
                </a>

                <a mat-list-item routerLink='**' routerLinkActive="portal-menu--active">
                    <mat-icon matListIcon>today</mat-icon>
                    <h3 matLine>Cita de hoy</h3>
                </a>

            </mat-nav-list>
        </mat-expansion-panel>
        <mat-nav-list>
            <a mat-list-item routerLink="**" routerLinkActive="portal-menu--active">
                <mat-icon matListIcon>receipt</mat-icon>
                <h3 matLine>Record</h3>
            </a>

        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="/apps/treatment" routerLinkActive="portal-menu--active">
                <mat-icon matListIcon>local_hospital</mat-icon>
                <h3 matLine>Tratamiento</h3>
            </a>

        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="/apps/treatment" routerLinkActive="portal-menu--active">
                <mat-icon matListIcon>local_hospital</mat-icon>
                <h3 matLine>Consulta</h3>
            </a>

        </mat-nav-list>

        <mat-nav-list>
            <a mat-list-item routerLink="/apps/payment" routerLinkActive="portal-menu--active">
                <mat-icon matListIcon>attach_money</mat-icon>
                <h3 matLine>Pagos</h3>
            </a>

        </mat-nav-list>

        <mat-nav-list>
            <a mat-list-item routerLink="**" routerLinkActive="portal-menu--active">
                <mat-icon matListIcon>settings</mat-icon>
                <h3 matLine>Ajuste</h3>
            </a>

        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="**" routerLinkActive="portal-menu--active">
                <mat-icon matListIcon>help</mat-icon>
                <h3 matLine>Ayuda</h3>
            </a>

        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item>
                <mat-icon matListIcon>exit_to_app</mat-icon>
                <h3 matLine>Salir</h3>
            </a>

        </mat-nav-list>

    </div>
    <mat-toolbar>
        <mat-toolbar-row fxLayout="row">
            <span fxFlex></span>
            <a mat-icon-button (click)="sidenav.close()">
                <mat-icon>chevron_left</mat-icon>
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>