<div class="portal-ecommerce-page-wrapper">
    <div class="search-div">
        <button title="Agregar nuevo usuario" mat-raised-button color="primary">
          <mat-icon>add</mat-icon>Agregar
        </button>
      
      </div>
      
      <br>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
      <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
    </ng-container>

    <ng-container matColumnDef="idCard">
        <th mat-header-cell *matHeaderCellDef> Cedula </th>
        <td mat-cell *matCellDef="let element"> {{element.idCard}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cellPhone">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let element"> {{element.cellPhone}} </td>
    </ng-container>

    <ng-container matColumnDef="speciality">
        <th mat-header-cell *matHeaderCellDef>Especialidad </th>
        <td mat-cell *matCellDef="let element"> {{element.speciality}} </td>
      </ng-container>
    
    <ng-container matColumnDef="userType">
        <th mat-header-cell *matHeaderCellDef> Tipo de usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.userType}} </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Accion </th>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell mat-header-cell *matCellDef="let row">
          <button title="Editar" mat-icon-button ><mat-icon>launch</mat-icon></button>
          <button title="Eliminar" mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>
      

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
   
  <mat-paginator [pageSizeOptions]="[9, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>