<mat-toolbar>
    <span>Registrar tratamientos</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="closeDialog()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="form" class="normal-form">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">

        <mat-form-field fxFlex="100">
            <input type="hidden" formControlName="id">
            <input matInput placeholder="code*" formControlName="code">

        </mat-form-field>

    </div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
        <mat-form-field fxFlex="100">
            <input matInput placeholder="Nombre tratamiento*" formControlName="name">

        </mat-form-field>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
        <mat-form-field fxFlex="100">
            <input matInput placeholder="Precio*" formControlName="price">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
        </mat-form-field>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
        <mat-form-field fxFlex="100">
            <input matInput placeholder="Comision de doctor*" formControlName="doctorCommission">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
        </mat-form-field>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
        <mat-form-field class="example-full-width" fxFlex="100">
            <textarea matInput placeholder="Desc. del tramiento" rows="6" cols="4" style="background: #eeeeee" formControlName="description"></textarea>
        </mat-form-field>
    </div>
    <!--alerta editar-->
    <swal #editSwal title="ClinicalSoft" text="¿está seguro que desea Actualizar el Usuario {{form.value.name}}?" type="question" [showCancelButton]="true" [reverseButtons]="true" [focusCancel]="true" (confirm)="addTreatment()">
    </swal>

    <mat-dialog-actions align="end">
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
            <button mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
            <div *ngIf="data.id">

                <button mat-raised-button color="primary" type="button" [swal]="editSwal">Actualizar</button>
            </div>

            <div *ngIf="!data.id">
                <button mat-raised-button color="primary" type="button" (click)="addTreatment()">Registrar</button>
            </div>
        </div>
    </mat-dialog-actions>

</form>