<div class="portal-profile-container portal-accent-bg" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="80" fxFlex.sm="90" fxFlex.xs="100">
        <div class="portal-profile__header" fxLayout="row">
            <div class="portal-profile__header-content" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
                <img src="assets/images/layouts/avatar.png" class="portal-profile__avatar">
                <div class="portal-profile__header-text">
                    <h1 i18n>{{userProfile.fullName}} </h1>
                    <!--p i18n>{{userProfile.role.name}}</p-->
                </div>
            </div>
        </div>
        <div class="portal-profile__content">
            <mat-card>
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="Profile">
                            <ng-template mat-tab-label>
                                <mat-icon>account_circle</mat-icon>Perfil
                            </ng-template>
                            <div class="portal-profile-container__content-tab">
                                <form fxLayout="column" fxLayoutGap="16px">
                                    <div fxLayout="row" fxLayoutGap="16px">
                                        <mat-form-field fxFlex="50">
                                            <input matInput [(ngModel)]="userProfile.fullName" name="fullName" type="text" placeholder="Nombre">
                                            <!--mat-error *ngIf="profileForm.get('FullName').hasError('required')" i18n>
                                                This is a required field
                                            </mat-error-->
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row">
                                        <mat-form-field fxFlex>
                                            <input type="hidden" [(ngModel)]="userProfile.id" name="id">
                                            <input matInput [(ngModel)]="userProfile.email" name="email" type="email" placeholder="Email">
                                            <!--mat-error *ngIf="profileForm.get('email').hasError('required')" i18n>
                                                Please enter your email
                                            </mat-error-->
                                        </mat-form-field>
                                    </div>
                                </form>
                            </div>
                        </mat-tab>
                        <mat-tab label="Password">
                            <ng-template mat-tab-label>
                                <mat-icon>security</mat-icon>Cambiar Contraseña
                            </ng-template>
                            <div class="portal-profile-container__content-tab">
                                <form [formGroup]="passwordForm">
                                    <div fxLayout="row">
                                        <mat-form-field fxFlex>
                                            <input matInput formControlName="oldPassword" type="text" required placeholder="Contraseña actual">
                                            <mat-error *ngIf="passwordForm.get('oldPassword').hasError('required')" i18n>
                                                campo requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row">
                                        <mat-form-field fxFlex>
                                            <input matInput formControlName="password" type="password" required placeholder="Nueva Contraseña">
                                            <mat-error *ngIf="passwordForm.get('password').hasError('required')" i18n>
                                                campo requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row">
                                        <mat-form-field fxFlex>
                                            <input matInput formControlName="passwordConfirm" type="password" required placeholder="Confirmar contraseña">
                                            <mat-error *ngIf="passwordForm.get('passwordConfirm').hasError('required')" i18n>
                                                campo requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </form>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button i18n type="submit" color="primary" (click)="showSnackbar()" [disabled]="!profileForm.valid">
          Actualizar Cambios
          </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>