<mat-toolbar>
    <span>Registrar Cita</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="closeDialog()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
    <mat-form-field class="example-full-width" fxFlex="100">
        <input type="text" placeholder="Paciente*" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>          
  </div>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
    <mat-form-field class="example-full-width" fxFlex="100">
        <input type="text" placeholder="Doctor*" aria-label="Number" matInput [formControl]="myControlD" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let optionD of filteredOptionsD | async" [value]="optionD">
            {{optionD}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>          
  </div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
    <mat-form-field fxFlex="100">
      <input matInput [matDatepicker]="picker" placeholder="Fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>     
  </div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
  <mat-form-field class="example-full-width" fxFlex="100">
  <textarea matInput placeholder="Observaciones"
  rows="6" cols="4" style="background: #eeeeee"></textarea>
  </mat-form-field>
</div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="-9%">
  <mat-checkbox color="primary" fxFlex="50">Enviar SMS</mat-checkbox>
  <mat-checkbox color="primary" fxFlex="50">Enviar Email</mat-checkbox>
</div>

<div class="button-row" align="end">
  <button mat-raised-button color="warn">Cancelar</button>
  <button mat-raised-button color="primary" type="submit">Registrar</button>
</div>

