<div class="portal-ecommerce-page-wrapper">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%">
      
          <mat-form-field fxFlex="50">
              <input  matInput placeholder="Nombre*">
              <mat-error>Nombre requerido.</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50">
                <input  matInput placeholder="Nombre*">
                <mat-error>Nombre requerido.</mat-error>
            </mat-form-field>
  </div>
</div>