<div class="portal-ecommerce-page-wrapper">
    <div class="search-div" style="margin-top: -30px">
        <button title="Agregar nuevo paciente" mat-raised-button color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon>Agregar
            </button>
        <mat-form-field class="search-form-field" appearance="fill">
            <input matInput [(ngModel)]="searchKey" placeholder="Buscar paciente" autocomplete="off" (keyup)="applyFilter($event.target.value)">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                </button>
        </mat-form-field>

    </div>

    <div class="mat-elevation-z8" style="margin-top: -5px">
      <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="surname">
              <th mat-header-cell *matHeaderCellDef> Apellido </th>
              <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
          </ng-container>

          <!-- 'name', 'surname', 'email', 'cellPhone', 'idCard', 
'civilStatus' -->
          <ng-container matColumnDef="idCard">
              <th mat-header-cell *matHeaderCellDef> Cedula </th>
              <td mat-cell *matCellDef="let element"> {{element.idCard}} </td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="cellPhone">
              <th mat-header-cell *matHeaderCellDef> Telefono </th>
              <td mat-cell *matCellDef="let element"> {{element.cellPhone}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Accion </th>
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell mat-header-cell *matCellDef="let row">

                  <!--alerta para deshabilitar-->
                  <swal #deleteSwal title="ClinicalSoft" text="¿está seguro que desea deshabilitar el paciente {{row.name}}?" type="question" [showCancelButton]="true" [reverseButtons]="true" [focusCancel]="true" (confirm)="changeStatus(row.isActive,row.id)">
                  </swal>


                    <a  title="Ver record de paciente" mat-button routerLink="/external/recorddata"  fragment="ayudaDiv"  target="_blank" routerLinkActive="portal-menu--active">
                      <mat-icon>visibility</mat-icon>
                    </a>

                </mat-cell>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

