
<mat-toolbar class="portal-side-menu-top-toolbar">
  <mat-toolbar-row fxLayout="row">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.8%" fxLayoutAlign="center">
      <img class="portal-toolbar-brand" src="../../../../assets/images/imagenes_general/logop.png" alt="Portal">
      <span class="portal-toolbar-brand-text" i18n>ClinicalSoft</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content >
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.8%" fxLayoutAlign="center">
    <p >Version: 1.0.0</p>
  </div>
</div>